
/* for phones and other small devices */
.arrowBarFlex {
    display: flex;
    width: 100%;
    height: 5%;
}

.arrowBar {
    background-color: #f05454;
    width: 50%;
    
    display: flex;
    justify-content: space-between;
    
    box-sizing: border-box;

    border: black 1px solid;
    padding: 1px;
}

.arrowBar.left{
    padding-left: 15px;
    padding-right: 43px;
    
}

.arrowBar.right{
    padding-left: 43px;
    padding-right: 15px;
    
}

.arrowButton {
    background-color: #f05454;
    border: none;
   
}

.arrows {
    margin: 1px;
}





