/* Extra small devices (600 px and down, phones) */

.moveLineFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 33px;
}

.moveNumber{
    background-color: #30475e;
    width: 10%;
    border-top: .1pt solid #DDDDDD;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    color: #DDDDDD;

    display: flex;

    box-sizing: border-box;

    align-items: center;
    justify-content: center;
}

.move {
    background-color: #DDDDDD;
    width: 45%;

    display: flex;
    align-items: flex-end;

    box-sizing: border-box;

    padding-bottom: 0px;
    padding-left: 7px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

/* Small devices (tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
    .moveLineFlex {
        height: 45px;
    }

    
}
