@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



.bodyDiv {
    width: 414px;
    height: 896px;
    padding: 0px;
}

.flexContainer {
    display: flex;
    justify-content: center;
    padding: 0px;
}

.header {
    text-align: center;
    background-color: #222831;
    width: 100%;
    height: 101px;
    margin: 0;
    padding: 0;

}

.headerText {
    color: #DDDDDD;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 76px;

    padding: 10px;
    margin: 0px;
}

