@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



.bodyDiv {
    width: 414px;
    height: 896px;
    padding: 0px;
}

.flexContainer {
    display: flex;
    justify-content: center;
    padding: 0px;
}

.header {
    text-align: center;
    background-color: #222831;
    width: 100%;
    height: 101px;
    margin: 0;
    padding: 0;

}

.headerText {
    color: #DDDDDD;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 76px;

    padding: 10px;
    margin: 0px;
}

.bodyDivDesktop{
    width: 1440px;
    height: 1024px;
    background-color: #000000;
}

.flexContainerDesktop {
    display: flex;
    justify-content: center;
    
}

.headerDesktop {
    text-align: center;
    background-color: #222831;
    height: 134px;
    width: 100%;

    margin: 0px;
}

.headerTextDesktop {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 76px;

    color: #DDDDDD;
    padding: 22px;
    margin: 0px;
}

.infoBarDesktop {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 759px;
    width: 416px;
}

.playAreaFlexDesktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




