@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


   .flexContainer {
       width: 414px;
       justify-content: center;
       margin: 0px;
   }

   .header {
       background-color: #222831;
       text-align: center;
       box-sizing: border-box;

      
   }

   .headerText {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 76px;

    color: #DDDDDD;
    

    margin: 0px;
    padding: 10px;
   }

   .desktopLayout {
       display: none;
   }

   .bodyDiv {
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       background-color: black;
   }

@media screen and (min-width: 600px)  {
    .flexContainer {
        width: 600px;
    }
} 
@media screen and (min-width: 768px)  {
    .flexContainer {
        width: 768px;
    }
    
} 
@media screen and (min-width: 992px)  {
   
    
} 
@media screen and (min-width: 1200px)  {
    .mobileLayout {
        display: none;
    }
    .desktopLayout {
        display: flex;
        justify-content: space-between;
    }
    .flexContainer {
        width: 100%;
    }
    .infoBar {
        width: 350px;
        height: 100%;
    }
} 
