.playerBarFlex {
    background-color:#30475e ;
    height: 71px;
    width: 100%;
    display: flex;

   justify-content: space-between;
   align-items: flex-end;
}

.playerBarText {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    color: #DDDDDD;

    margin-right: 5px;
    margin-left: 5px;
}

.playerBarFlex.bottom{
    align-items: flex-start;
}

