.dark {
    background-color: #8A9EBC;
    
}

.light {
    background-color: #D7DEE9;
    
}

.square {
    border: solid 1px #4f5e70;
    overflow: hidden;
    position: relative;
    flex-basis: 11.11%;
    flex-grow: 1;
}


.square:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}