   


    .gameBoard {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    @media screen and (min-width:1200px) {
        .gameBoard{
            height: 811px;
            width: 811px;
        }
        
    }


    


   


   

   


    
