   


    .gameBoard {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    @media screen and (min-width:1200px) {
        .gameBoard{
            max-height: 1000px;
            max-width: 1000px;
        }
        
    }


    


   


   

   


    
