.movesHeader {
    background-color: #222831;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 4vw;
    line-height: 25px;

    padding: 2vw;
    color: #DDDDDD;
}

@media screen and (min-width:1200px) {
    .movesFlex {
        height: 81%;
        background-color: #DDDDDD;
    }

    .movesHeader {
        font-size: 20px;
        padding: 5px;
    }
    
}