.movesFlex {
    height: 171px;
    width: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.movesHeader {
    width: 100% - 5px;
    height: 39.5px;
    background-color: #222831;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    color: #dddddd;

    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    

    padding-left: 5px;
    padding-bottom: 4px;
}

.movesFlexDesktop {
    height: 600px;
    display: flex;
    flex-direction: column;
    overflow: auto;

    background-color: #dddddd;
}

.movesHeaderDesktop {
    height: 62px;
    background-color: #222831;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18.3082px;
    line-height: 25px;

    color: #DDDDDD;

    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 15px;
}